<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <title>CTF Scoreboard</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 3px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f3f3f3;
        }
        .gold {
            background-color: gold;
        }

        .silver {
            background-color: silver;
        }

        .bronze {
            background-color: #cd7f32;
        }
    </style>
</head>
<body>
    <h1 align="center">Scoreboard</h1>
    <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr class="{% if loop.index == 1 %}gold{% elif loop.index == 2 %}silver{% elif loop.index == 3 %}bronze{% endif %}">
                <td>{{ loop.index }}</td>
                <td>{{ player[1] }}</td>
                <td>{{ player[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>